@model IEnumerable<AnimalRescueWebsite.Models.Dog>

@{
    ViewData["Title"] = "Index";
    
}


<h1>Available Dogs!</h1>
<p>Click on a photo for more details!</p>

<div class="container text-center">
    <div class="row">
        @foreach (var item in Model)
        {
            string picturePath = "/images/dogs/dog_" + item.DogId + ".jpg"; 
            
            <div class="card" style="width: 18rem; margin: 1rem">
                <div class="card-img-top" onclick="goToDogDescription(@item.DogId)" style="width:200px; height:200px; background-image: url(@picturePath); background-repeat: no-repeat;
                                                                                            background-position:center"></div>
                @* <img src=@picturePath class="card-img-top" onclick="goToDogDescription(@item.DogId)"> *@
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.DogName)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.DogBreed)</p>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.DogDescription)</p>
                    <a href="@Url.Action("Create", "DogApplications", new {id = item.DogId})" class="btn btn-primary">Adopt Me!</a>
                </div>
            </div>
        }
    </div>
</div>


