@model List<AnimalRescueWebsite.Models.Dog>

@{
    ViewData["Title"] = "Adoptables";
    
}

@if (ViewBag.SuccessMessage != null)
{
    <div class="alert alert-success w-50 m-auto">
        @ViewBag.SuccessMessage
    </div>
} 


<h2>Available Dogs!</h2>
<p>Click on a photo for more details!</p>
<div class="shell shell-wide">
    <div class="shell">
        <div class="text-center">
            <div class="container">
                <div class="row">
                    <div>
                        @foreach (var item in ViewBag.Items)
                        {
                            string picturePath = "images/dogs/dog_" + item.DogId + ".jpg";

                            <div class="thumbnail col-lg-6 p-5">
                                <img class="img-responsive" onclick="goToDogDescription(@item.DogId)" src="https://placedog.net/500?r"></img>
                                @* <img src=@picturePath class="card-img-top" onclick="goToDogDescription(@item.DogId)"> *@
                                <div class="caption">
                                    <h4 class="card-title">@item.DogName</h4>
                                    <p class="card-text">@item.DogBreed</p>
                                    <p class="card-text">@item.DogDescription</p>
                                    <a href="@Url.Action("Create", "DogApplications", new {id = item.DogId})" class="caption-link btn btn-default">Adopt Me!</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<nav aria-label="Pagination">
    <ul class="pagination pagination-lg">
        <li>
            <a class="page-link" href="@if (ViewBag.CurrentPage > 1)
            {
                @Url.Action("Index", new {page = ViewBag.CurrentPage - 1})
            }" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            <li class="page-item">
                    @if (i == ViewBag.CurrentPage)
                    {
                        <a class="page-link">@i</a>
                    }
                    else
                    {
                        <a class="page-link" href="@Url.Action("Index", new {page = i})">@i</a>
                    }
            </li>
        }
        <li class="page-item">
            <a class="page-link" href="@if (ViewBag.CurrentPage < ViewBag.TotalPages)
            {
                @Url.Action("Index", new {page = ViewBag.CurrentPage + 1})
            }" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>




