@model AnimalRescueWebsite.Models.DogAndApplicationsModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<h2>Dogs</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Age
            </th>
            <th>
                Size
            </th>
            <th>
                Breed
            </th>
            <th>
                Gender
            </th>
            <th>
                Description
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dog in Model.Dogs) {
            <tr>
                <td>
                @Html.DisplayFor(m => dog.DogId)
            </td>
            <td>
                    @Html.DisplayFor(m => dog.DogName)
            </td>
            <td>
                    @Html.DisplayFor(m => dog.DogAge)
            </td>
            <td>
                    @Html.DisplayFor(m => dog.DogSize)
            </td>
            <td>
                    @Html.DisplayFor(m => dog.DogBreed)
            </td>
            <td>
                    @Html.DisplayFor(m => dog.DogGender)
            </td>
            <td>
                    @Html.DisplayFor(m => dog.DogDescription)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@dog.DogId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@dog.DogId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@dog.DogId">Delete</a>
            </td>
        </tr>



}
    </tbody>
</table>
<h2>Applicants</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Date
            </th>
            <th>
                Street
            </th>
            <th>
                City
            </th>
            <th>
                State
            </th>
            <th>
                Zip
            </th>
            <th>
                Phone Number
            </th>
            <th>
                Occupation
            </th>
            <th>
                Children
            </th>
            <th>
                Dogs Id
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var applicant in Model.Applicants)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => applicant.ApplicantId)
                </td>
                <td>
                    @Html.DisplayFor(m => applicant.ApplicantFirstName)
                </td>
                <td>
                    @Html.DisplayFor(m => applicant.ApplicantLastName)
                </td>
                <td>
                    @Html.DisplayFor(m => applicant.DateOfApplication)
                </td>
                <td>
                    @Html.DisplayFor(m => applicant.AddressStreet)
                </td>
                <td>
                    @Html.DisplayFor(m => applicant.AddressCity)
                </td>
                <td>
                    @Html.DisplayFor(m => applicant.AddressState)
                </td>
                <td>
                    @Html.DisplayFor(m => applicant.AddressZip)
                </td>
                <td>
                    @Html.DisplayFor(m => applicant.ApplicantEmail)
                </td>
                <td>
                    @Html.DisplayFor(m => applicant.ApplicantPhone)
                </td>
                <td>
                    @Html.DisplayFor(m => applicant.ApplicantOccupation)
                </td>
                <td>
                    @Html.DisplayFor(m => applicant.NumberOfChildren)
                </td>
                <td>
                    @Html.DisplayFor(m => applicant.dog)
                </td>
                <td>
                    <a asp-controller="DogApplications" asp-action="Edit" asp-route-id="@applicant.ApplicantId">Edit</a> |
                    <a asp-controller="DogApplications" asp-action="Details" asp-route-id="@applicant.ApplicantId">Details</a> |
                    <a asp-controller="DogApplications" asp-action="Delete" asp-route-id="@applicant.ApplicantId">Delete</a>
                </td>
            </tr>



        }
    </tbody>
</table>
